@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?cnl4l7');
  src:  url('../fonts/icomoon.eot?cnl4l7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?cnl4l7') format('truetype'),
    url('../fonts/icomoon.woff?cnl4l7') format('woff'),
    url('../fonts/icomoon.svg?cnl4l7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\f003";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-html5:before {
  content: "\f13b";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-wordpress:before {
  content: "\f19a";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-file-powerpoint-o:before {
  content: "\f1c4";
}
.icon-copyright:before {
  content: "\f1f9";
}

@font-face {
  font-family: 'Linearicons-Free';
  src:  url('../fonts/Linearicons-Free.eot?1esnlo');
  src:  url('../fonts/Linearicons-Free.eot?1esnlo#iefix') format('embedded-opentype'),
    url('../fonts/Linearicons-Free.ttf?1esnlo') format('truetype'),
    url('../fonts/Linearicons-Free.woff?1esnlo') format('woff'),
    url('../fonts/Linearicons-Free.svg?1esnlo#Linearicons-Free') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="lnr-"], [class*=" lnr-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  // font-family: 'Linearicons-Free' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lnr-home:before {
  content: "\e800";
  font-family: 'Linearicons-Free' !important;
}
.lnr-magic-wand:before {
  content: "\e803";
  font-family: 'Linearicons-Free' !important;
}
.lnr-cloud-download:before {
  content: "\e80b";
  font-family: 'Linearicons-Free' !important;
}
.lnr-cog:before {
  content: "\e810";
  font-family: 'Linearicons-Free' !important;
}
.lnr-trash:before {
  content: "\e811";
  font-family: 'Linearicons-Free' !important;
}
.lnr-dice:before {
  content: "\e812";
  font-family: 'Linearicons-Free' !important;
}
.lnr-heart:before {
  content: "\e813";
  // font-family: 'Linearicons-Free' !important;
}
.lnr-star:before {
  content: "\e814";
  font-family: 'Linearicons-Free' !important;
}
.lnr-envelope:before {
  content: "\e818";
  font-family: 'Linearicons-Free' !important;
}
.lnr-inbox:before {
  content: "\e81a";
  font-family: 'Linearicons-Free' !important;
}
.lnr-eye:before {
  content: "\e81b";
  font-family: 'Linearicons-Free' !important;
}
.lnr-file-empty:before {
  content: "\e81d";
  font-family: 'Linearicons-Free' !important;
}
.lnr-exit:before {
  content: "\e820";
  font-family: 'Linearicons-Free' !important;
}
.lnr-license:before {
  content: "\e822";
  font-family: 'Linearicons-Free' !important;
}
.lnr-book:before {
  content: "\e828";
  font-family: 'Linearicons-Free' !important;
}
.lnr-user:before {
  content: "\e82a";
  font-family: 'Linearicons-Free' !important;
}
.lnr-users:before {
  content: "\e82b";
  font-family: 'Linearicons-Free' !important;
}
.lnr-cart:before {
  content: "\e82e";
  font-family: 'Linearicons-Free' !important;
}
.lnr-phone-handset:before {
  content: "\e830";
  font-family: 'Linearicons-Free' !important;
}
.lnr-phone:before {
  content: "\e831";
  font-family: 'Linearicons-Free' !important;
}
.lnr-map-marker:before {
  content: "\e833";
  font-family: 'Linearicons-Free' !important;
}
.lnr-bubble:before {
  content: "\e83f";
  font-family: 'Linearicons-Free' !important;
}
.lnr-chart-bars:before {
  content: "\e843";
  font-family: 'Linearicons-Free' !important;
}
.lnr-leaf:before {
  content: "\e849";
  font-family: 'Linearicons-Free' !important;
}
.lnr-briefcase:before {
  content: "\e84c";
  font-family: 'Linearicons-Free' !important;
}
.lnr-smile:before {
  content: "\e854";
  font-family: 'Linearicons-Free' !important;
}
.lnr-alarm:before {
  content: "\e858";
  font-family: 'Linearicons-Free' !important;
}
.lnr-clock:before {
  content: "\e864";
  font-family: 'Linearicons-Free' !important;
}
.lnr-upload:before {
  content: "\e866";
  font-family: 'Linearicons-Free' !important;
}
.lnr-magnifier:before {
  content: "\e86f";
  font-family: 'Linearicons-Free' !important;
}
.lnr-chevron-up:before {
  content: "\e873";
  font-family: 'Linearicons-Free' !important;
}
.lnr-chevron-down:before {
  content: "\e874";
  font-family: 'Linearicons-Free' !important;
}
.lnr-chevron-left:before {
  content: "\e875";
  font-family: 'Linearicons-Free' !important;
}
.lnr-chevron-right:before {
  content: "\e876";
  font-family: 'Linearicons-Free' !important;
}
.lnr-question-circle:before {
  content: "\e87d";
  font-family: 'Linearicons-Free' !important;
}
