@import 'vars';
@import 'global';
@import 'fonts';

/* -------------------------------------------------------------------------- */
/* ------------------------------ Start Header ------------------------------ */
/* -------------------------------------------------------------------------- */
.header__top {
  background-color: #eef1f3;
  &-info {
    display: none;
  }
  &-inner {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
  }
  &-logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: $blue;
    span {
      padding-left: 7px;
      color: #000;
    }
  }
  &-info {
  }
  &-content {
    display: flex;
    align-items: center;
  }
  &-user {
    display: flex;
    padding-left: 15px;
  }
}
.lnr {
  &-alarm {
    span {
      background-color: #ff6a6c;
    }
  }
  &-envelope {
    span {
      background-color: #62d03b;
    }
  }
  &-cart {
    span {
      background-color: $blue;
    }
  }
}
.content-icon {
  font-family: 'Linearicons-Free';
  position: relative;
  margin-right: 35px;
  color: #7e8fa1;
  font-size: 20px;
  span {
    position: absolute;
    top: -12px;
    left: 15px;
    min-width: 22px;
    padding: 0 7px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    height: 22px;
    border-radius: 7em;
    color: #fff;
  }
}
.user {
  &__avatar {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #7c7979;
    border-radius: 50%;
    margin-right: 20px;
  }
  &__name {
    font-size: 16px;
    font-weight: 500;
    color: $c3;
  }
  &__balance {
    color: $blue;
  }
  &__list {
    display: none;
  }
}

.header {
  &__btn {
    height: 36px;
    width: 140px;
    margin-right: 50px;
    font-size: 14px;
  }
  &__menu {
    background-color: #fff;
  }
  &__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    form {
      position: relative;
    }
    input {
      height: 50px;
      width: 360px;
      padding: 0 70px 0 30px;
      background-color: #fff;
      border: 1px solid #d9dfe5;
      border-radius: 25px;
      position: relative;
    }
    button {
      font-family: 'Linearicons-Free';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 110px;
    }
  }
}

.round__btn {
}
.menu {
  li {
    display: inline-block;
  }
  li + li {
    margin-left: 35px;
  }
  a {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: $c3;
  }
}
/* -------------------------------------------------------------------------- */
/* ------------------------------- End header ------------------------------- */
/* -------------------------------------------------------------------------- */
/* ---------------------------- Start Breadcrumbs --------------------------- */
.breadcrumbs {
  background-image: linear-gradient(180deg, rgb(13, 62, 242) 0%, rgb(45, 47, 199) 46%, rgb(76, 31, 156) 100%);
  opacity: 0.902;
  min-height: 180px;
  padding: 60px 0;
  color: #fff;
  ul {
    margin-bottom: 30px;
  }
  li {
    font-size: 15px;
    display: inline-block;
    position: relative;
    a,
    span {
      color: #fff;
    }
    & + li {
      padding-left: 25px;
      &::before {
        position: absolute;
        left: 7px;
        content: ' / ';
      }
    }
  }
  &__name {
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
  }
}
/* ---------------------------- Start Breadcrumbs --------------------------- */
/* --------------------------- Start Home-product --------------------------- */
/* -------------------------------------------------------------------------- */
.home-product {
  background-color: #294dcf;
  color: #f3f3f8;
  &__inner {
    text-align: center;
    padding: 175px 0 235px;
    button {
      height: 57px;
      width: 180px;
    }
    button + button {
      margin-left: 30px;
    }
  }
  &__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 35px;
    span {
      font-weight: 500;
    }
  }
  &__text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 60px;
  }
}
.home-search__inner {
  position: relative;
  bottom: 69px;
  background-color: #fff;
  width: 1140px;
  border-radius: 6px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  padding: 41px;
  input,
  select {
    color: #676767;
    border: 1px solid #dedede;
    padding: 18px 20px;
  }
  input {
    max-width: 616px;
    width: 100%;
    border-radius: 4px 0 0 4px;
  }
  select {
    min-width: 190px;
    appearance: none;
    border-radius: 0 4px 4px 0;

    background: url(../img/chevron-down.png) no-repeat right;
    background-position-x: calc(100% - 20px);
  }
  form {
    display: flex;
    justify-content: start;
  }
  button {
    background-color: $blue;
    border-radius: 4px;
    width: 223px;
    color: #fff;
    height: 56px;
    margin-left: auto;
    border: none;
  }
  button + select {
    margin-left: 32px;
  }
}
.home-search__inner::after,
.home-search__inner::before {
  content: '';
  position: absolute;
  height: 35px;
  background-color: #fff;
  opacity: 0.502;
  width: 100%;
  border-radius: 4px;
}
.home-search__inner::after {
  z-index: 2;
  left: 30px;
  top: -30px;
  max-width: 1080px;
}
.home-search__inner::before {
  max-width: 1110px;
  z-index: 1;
  left: 15px;
  top: -15px;
}
.home-link {
  background-color: #fff;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 55px 0 125px;
  }
}
.link {
  text-align: center;
  padding: 41px 35px;
  max-width: 361px;
  min-height: 403px;
  border-radius: 4px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
  &__img {
  }
  &__title {
    font-size: 24px;
    font-weight: 500;
    color: $c5;
    margin-bottom: 25px;
  }
  &__text {
  }
}
/* -------------------------------------------------------------------------- */
/* ---------------------------- End home-product ---------------------------- */
/* -------------------------------------------------------------------------- */
/* ---------------------------- Start Home-Slider --------------------------- */
/* -------------------------------------------------------------------------- */

.home-slider {
  background-color: #eff1f5;
  &__inner {
    padding: 120px 0;
  }
  &__title {
    font-size: 30px;
    background-color: #fff;
    padding: 40px 160px 40px 30px;
    margin-bottom: 50px;
  }
  &__item-wrapper,
  &__title {
    border-radius: 0.3em;
    overflow: hidden;
  }

  &__item {
    display: flex;
    min-height: 455px;
  }
  &__item-content {
    padding: 40px 60px 25px 50px;
    background-color: #fff;
    max-width: 585px;
    width: 100%;
  }
  &__item-img {
    background-color: #4e5760;
    max-width: 555px;
    width: 100%;
    min-height: 455px;
  }
  &__item-title {
    font-size: 24px;
    font-weight: 500;
  }
  &__item-user {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    .icon-wordpress::before {
      margin-right: 20px;
    }
  }
  &__item-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 7em;
    background-color: $blue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }
  &__item-author {
    margin-right: 20px;
    color: #000;
    font-size: 15px;
  }
  &__item-theme {
    position: relative;
    color: $violet;
    font-size: 15px;
  }
  &__item-text {
    margin-bottom: 40px;
  }
  &__button-list {
    padding-bottom: 40px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 23px;
  }
  &__button-type {
    display: inline-block;
    color: #868c96;
    background-color: #f1f3f6;
    padding: 0 16px;
    border-radius: 7em;
  }
  &__item-info {
    display: flex;
    align-items: center;
  }
  &__item-price {
    padding: 10px 20px;
    margin-right: 20px;
  }
  .lnr-heart {
    color: #000;
    margin-right: 20px;
  }
  .lnr-heart:before {
    margin-right: 12px;
    color: $violet;
  }
  .lnr-cart {
    color: $blue;
  }
  .lnr-cart::before {
    margin-right: 10px;
  }
  &__item-rating {
  }

  .rate-star {
    display: inline-block;
    margin-left: auto;
  }
}
.home-slider__wrapper,
.home-slider__wrapper-two {
  .slick-prev,
  .slick-next {
    position: absolute;
    z-index: 2;
    height: 45px;
    background-color: $violet;
    width: 55px;
    border: none;
    color: transparent;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    top: -140px;
  }
  .slick-prev {
    border-radius: 7em 0 0 7em;
    background-image: url(../img/chevron-left.svg);
    right: 85px;
  }
  .slick-next {
    border-radius: 0 7em 7em 0;
    background-image: url(../img/chevron-right.svg);
    right: 30px;
  }
}
.home-slider__wrapper-two {
  .slick-prev,
  .slick-next {
    background-color: $blue;
  }
}
/* -------------------------------------------------------------------------- */
/* ------------------------------- End Slider ------------------------------- */
/* -------------------------------------------------------------------------- */
/* ----------------------------- Start n-product ---------------------------- */
/* -------------------------------------------------------------------------- */
.n-product {
  background-color: #f6f7fb;
  &__inner {
    padding: 120px 0;
  }
  &__button {
    display: block;
    width: 190px;
    padding: 15px 30px;
    margin: 0 auto;
  }
}
.n-product__title-box {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 35px 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  height: 110px;
}

.title-box {
  &__title {
    color: #000;
    font-size: 30px;
    line-height: 1.1;
  }
  &__button {
    color: #747b86;
  }
}
.n-product__sort {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
  height: 92px;
  padding: 28px;
  margin-bottom: 50px;
  button {
    padding: 10px 20px;
    background-color: #f1f3f6;
    color: #747b86;
    border: none;
    border-radius: 7em;
    font-size: 15px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
.n-product__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  margin-bottom: 60px;
}
.n__item {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  max-width: 361px;
  min-height: 529px;
  overflow: hidden;
  &-img {
    min-height: 230px;
    background-color: #3c6490;
  }
  &-content {
    padding: 30px;
    border-bottom: 1px solid #ececec;
  }
  &-title {
    font-size: 20px;
    font-weight: 500;
  }
  &-user {
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 20px;
  }
  &-avatar {
    width: 30px;
    height: 30px;
    background-color: $violet;
    margin-right: 10px;
    border-radius: 7em;
    background-position: center;
    background-size: cover;
  }
  &-author {
    font-size: 15px;
    margin-right: 20px;
  }
  &-theme {
    font-size: 15px;
    color: $violet;
  }
  &-text {
    color: $c5;
  }
  &-info {
    padding: 15px 30px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  &-price {
    padding: 8px 18px;
    margin-right: 15px;
    background-color: #e6f1fd;
    color: $blue;
    border-radius: 7em;
    border: none;
  }
  &-rating {
  }
}
.icon-wordpress:before {
  margin-right: 10px;
}
.button {
}
.lnr-heart {
  color: #6f7d8d;
  margin-right: 20px;
  &::before {
    color: $violet;
    margin-right: 8px;
  }
}
.rate-star {
}
.lnr-cart {
  color: $blue;
  margin-left: auto;
  &::before {
    margin-right: 10px;
  }
}

/* -------------------------------------------------------------------------- */
/* ------------------------------ End n-product ----------------------------- */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* ------------------------------ Start scores ------------------------------ */

.scores {
  background-color: #212225;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 99px 0 90px;
  }
  &__item {
    text-align: center;
    max-width: 150px;
    min-height: 170px;

    .lnr-briefcase {
      color: #feb71d;
    }
    .lnr-cloud-download {
      color: #58c9e9;
    }
    .lnr-smile {
      color: #77de51;
    }
    .lnr-users {
      color: #ff6a6d;
    }
    .lnr-briefcase::before,
    .lnr-cloud-download::before,
    .lnr-smile::before,
    .lnr-users::before {
      display: block;
      margin-bottom: 50px;
    }
  }
}
.item {
  &__logo {
    font-size: 48px;
  }
  &__count {
    font-size: 36px;
  }
  &__name {
    font-size: 18px;
    color: #fff;
  }
}

/* ------------------------------- End Scores ------------------------------- */
/* -------------------------------------------------------------------------- */
/* ----------------------------- Start martplace ---------------------------- */
.martplace {
  &__inner {
    padding: 115px 0;
  }
  &__name {
    text-align: center;
  }
  &__title {
    color: #000;
    font-size: 36px;

    span {
      color: $blue;
    }
  }
  &__text {
    color: $c5;
    width: 670px;
    margin: 0 auto 30px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.martplace__item {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  max-width: 361px;
  min-height: 373px;
  overflow: hidden;
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  &-number {
    font-size: 48px;
    line-height: 48px;
    color: #5c87f8;
    text-align: left;
    opacity: 0.2;
  }
  &-logo {
    margin-bottom: 50px;
    font-size: 60px;
    min-height: 65px;
  }
  &-title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  &-text {
    color: $c5;
  }
  .lnr-license {
    color: $blue;
  }
  .lnr-magic-wand {
    color: $violet;
  }
  .lnr-lock {
    color: $green;
  }
  .lnr-chart-bars {
    color: #feb71d;
  }
  .lnr-leaf {
    color: #58c9e9;
  }
  .lnr-phone {
    color: #ff6a6d;
  }
}
/* ------------------------------ End martplace ----------------------------- */
/* -------------------------------------------------------------------------- */
/* ------------------------------- Start Sell ------------------------------- */
.sell {
  &__inner {
    display: flex;
  }
  &__item {
    color: #fff;
    padding: 100px 195px;
    text-align: center;
    min-height: 560px;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__logo {
    height: 101px;
    width: 120px;
    margin: 0 auto 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__title {
    margin-bottom: 10px;
    font-size: 36px;
  }
  &__text {
    color: #fff;
    margin-bottom: 50px;
  }
  &__button {
    padding: 20px 40px;
    color: $violet;
  }
}
.sell__bg {
  background-image: url(../img/sell_bg.jpg);
}
.buy__bg {
  background-image: url(../img/buy_bg.jpg);
}
/* -------------------------------- End Sell -------------------------------- */
/* -------------------------------------------------------------------------- */
/* ----------------------------- Start Feedback ----------------------------- */

.feedback {
  &__inner {
    color: $c5;
    text-align: center;
    padding: 120px 0;
  }
  &__title {
    font-size: 36px;
    margin-bottom: 20px;
    color: #000;
    span {
      color: $blue;
    }
  }
  &__text {
    max-width: 680px;
    margin: 0 auto 60px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  &__item {
    border-radius: 0 4px 4px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    max-width: 555px;
    min-height: 315px;
    padding: 50px 40px;
    border-left: 2px solid $blue;
    outline: hidden;
    .lnr-bubble::before {
      font-size: 60px;
      color: #e8e8e8;
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 0;
      padding-top: 10px;
    }
  }
  &__item-head {
    position: relative;
    display: flex;
  }
  &__item-text {
  }
  &__button {
    display: block;
    margin: 0 auto;
    padding: 20px 35px;
    max-width: 195px;
  }
}
.item-head {
  display: flex;
  align-items: center;
  &__avatar {
    width: 80px;
    height: 80px;
    background-color: #808080;
    margin: 0 20px 25px 0;
    border-radius: 7em;
  }
  &__info {
  }
}
.info {
  &__name {
    color: #000;
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 15px;
  }
  &__prof {
    text-align: left;
  }
}

/* ------------------------------ End Feedback ------------------------------ */
/* -------------------------------------------------------------------------- */
/* ------------------------------- start news ------------------------------- */
.news {
  background-color: #eff1f5;
  &__inner {
    text-align: center;
    padding: 110px 0;
  }
  &__title {
    font-size: 36px;
    span {
      color: $blue;
    }
  }
  &__text {
    margin: 0 auto;
    max-width: 675px;
    margin-bottom: 60px;
  }
  &__items-inner {
    display: flex;
    justify-content: space-between;
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
}
.news__item {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  min-height: 475px;
  margin-bottom: 30px;
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  overflow: hidden;
  &-img {
    background-color: #7385cd;
    min-height: 230px;
  }
  &-content {
    flex: 1;
    padding: 20px 30px;
    border-bottom: 1px solid #ececec;
    background-color: #fff;
  }
  &-title {
    margin-bottom: 20px;
  }
  &-text {
    color: $c5;
  }
  &-info {
    text-align: left;
    background-color: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    font-size: 15px;
    padding: 10px 30px;
    min-height: 58px;
  }
  &-date {
    border-right: 1px solid #ececec;
    color: $c9;
    line-height: 38px;
  }
  &-social {
    padding-left: 30px;
  }
  &-comments {
    padding-left: 30px;
  }
  &-views {
    padding-left: 25px;
  }
}
.lnr-clock:before {
  color: $blue;
}
.lnr-bubble::before,
.lnr-eye::before,
.lnr-clock:before {
  margin-right: 8px;
}

/* -------------------------------- end news -------------------------------- */
/* -------------------------------------------------------------------------- */
/* ------------------------------ Start Support ----------------------------- */

.support {
  &__inner {
    display: flex;
  }
  &__img {
    margin: 0 auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 125px;
    max-width: 155px;
    margin-bottom: 30px;
  }
  &__item {
    padding: 60px;
    text-align: center;
    width: 50%;
  }
  &__item + &__item {
    border-left: 1px solid #e8eaf3;
  }
  &__img-support {
    background-image: url(../img/comp.png);
  }
  &__img-guarantee {
    background-image: url(../img/money.png);
  }
  &__text {
    font-size: 24px;
    span {
      color: $blue;
    }
  }
  &__text-support span {
    color: $violet;
  }
}

/* ------------------------------- End Support ------------------------------ */
/* -------------------------------------------------------------------------- */
/* ------------------------------- start join ------------------------------- */

.join {
  background-image: linear-gradient(-90deg, rgb(13, 62, 242) 0%, rgb(64, 48, 201) 46%, rgb(114, 33, 160) 100%);
  opacity: 0.902;
  min-height: 400px;
  &__inner {
    padding: 110px 0;
    color: #fff;
    text-align: center;
  }
  &__title {
    font-size: 36px;
  }
  &__text {
    font-size: 18px;
    margin-bottom: 60px;
  }
  &__link {
    padding: 20px 40px;
  }
}

/* -------------------------------------------------------------------------- */
/* -------------------------------- end join -------------------------------- */
/* ------------------------------ Start footer ------------------------------ */

.footer {
  &__content {
    background-color: #262b30;
    padding: 115px 0;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__copy {
    background-color: #192027;
  }
  &__copy-text {
    padding: 30px 0;
    text-align: center;
    color: #ababab;
    span {
      color: #fff;
    }
  }
  &__address {
    position: relative;
    display: block;
    color: #ababab;
    padding-left: 35px;
    margin-bottom: 7px;
    font-style: normal;
    line-height: 1.9em;
  }
}
.footer__col {
  font-size: 15px;
  color: #ababab;
  &-logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: $blue;
    margin-bottom: 30px;
    span {
      padding-left: 7px;
      color: #fff;
    }
  }
  &-info {
    width: 270px;
    p {
      margin-bottom: 25px;
    }
    .lnr-phone-handset::before,
    .lnr-envelope::before,
    .lnr-map-marker::before {
      position: absolute;
      left: 0;
      font-family: 'Linearicons-Free';
      font-weight: 400;
      color: #fff;
    }
    .lnr-map-marker::before {
      top: 25%;
    }
  }
  &-list {
    width: 150px;
    a {
      color: #ababab;
    }
    li {
      padding-left: 0;
      margin-bottom: 5px;
    }
  }
  &-search {
    width: 365px;
    form {
      position: relative;
      margin-bottom: 55px;
    }
    input {
      height: 50px;
      width: 100%;
      padding: 0 110px 0 30px;
      background-color: #fff;
      outline: transparent;
      border-radius: 25px;
      position: relative;
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 110px;
    }
    li {
      display: inline-block;
    }
    li:not(:last-child) {
      margin-right: 13px;
    }
    p {
      margin-bottom: 35px;
    }
  }
  &-social {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: #fff;
    border-radius: 50%;
  }
  &-title {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding-top: 7px;
    margin-bottom: 32px;
  }
}

.icon-facebook {
  background-color: #395799;
}
.icon-twitter {
  background-color: #19b2f5;
}
.icon-google {
  background-color: #f05b44;
}
.icon-pinterest {
  background-color: #9c0c1c;
}
.icon-linkedin {
  background-color: #0da6be;
}
.icon-dribbble {
  background-color: #ea4c89;
}

/* ------------------------------- End footer ------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------- start 404 ------------------------------- */
.not-find {
  text-align: center;
  &__inner {
    padding: 580px 0 100px;
    background: url(../img/404.png) no-repeat center 80px;
  }
  &__text {
    margin-bottom: 45px;
    font-size: 30px;
  }
  &__button {
    width: 190px;
    height: 50px;
    padding: 20px 45px;
    font-size: 15px;
  }
}
/* --------------------------------- end 404 -------------------------------- */
/* -------------------------------------------------------------------------- */
/* ---------------------------- start contact us ---------------------------- */
.contact {
  color: #fff;
  padding: 100px 0;
  background-image: linear-gradient( 260deg, rgb(13,62,242) 0%, rgb(45,47,199) 46%, rgb(76,31,156) 100%);
  opacity: 0.902;
  min-height: 281px;
  text-align: center;

  &__title {
    font-weight: 500;
    font-size: 30px;
  }
  &__text {
  }
}
.help {
  background-color: #eff1f5;
  padding: 120px 0;
  
  &__inner {
    color: $c5;
  }
  &__name {
  }
  &__title {
    color: #000;
    font-size: 36px;
    text-align: center;
    span {
      color: $blue;
    }
  }
  &__text {
    max-width: 680px;
    margin: 0 auto 50px;
    text-align: center;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__item {
  text-align: center;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  max-width: 360px;
  width: 100%;
  min-height: 295px;
  padding: 50px 60px;
  a{
    color: $c5; 
  }
  }
  &__item-logo {
    font-size: 48px;
    color: $blue;
    margin-bottom: 40px;
  }
  &__item-title {
    font-weight: 500;
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
  }
  &__item-contact {
  }
}
.help__message {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  min-height: 592px;
  
  &-title{
    padding: 50px 0 25px;
    min-height: 110px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    border-bottom: 1px solid #eff1f5;
    
  }
  &-button {
    justify-self: center;
  }
  form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding: 40px 190px 60px 190px;
  }
  textarea{
    border: 1px solid #eff1f5;
    width: 100%;
    padding: 20px 50px;
    resize: none;
    min-height: 130px;
    margin-bottom: 30px;
  }
  &-input{
    border: 1px solid #eff1f5;
    max-width: 361px;
    width: 100%;
    min-height: 53px;
    margin-bottom: 30px;
    padding: 20px 50px;
    &:nth-child(2n), &:nth-child(4n){
      padding-left: 20px;
    }
  }
  .help__message-button {
    margin: 0 auto;
    width: 170px;
    padding: 20px 35px;
  }
}
.map__inner{
  padding: 100px 0;
}
/* ----------------------------- end contact us ----------------------------- */
/* -------------------------------------------------------------------------- */
