@import 'vars';
@import 'global';
@import 'fonts';

/* -------------------------------------------------------------------------- */
/* ------------------------------ Start Header ------------------------------ */
/* -------------------------------------------------------------------------- */
.header__top {
  color: #eef1f3;
  &-info {
    display: none;
  }
  &-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    margin-bottom: 25px;
  }
  &-logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: $blue;
    span {
      padding-left: 7px;
      color: #000;
    }
  }
  &-info {
  }
  &-content {
    display: flex;
    align-items: center;
  }
  &-user {
    display: flex;
    padding-left: 15px;
  }
}
.lnr {
  &-alarm {
    span {
      background-color: #ff6a6c;
    }
  }
  &-envelope {
    span {
      background-color: #62d03b;
    }
  }
  &-cart {
    span {
      background-color: $blue;
    }
  }
}
.content-icon {
  font-family: 'Linearicons-Free';
  position: relative;
  margin-right: 35px;
  color: #7e8fa1;
  font-size: 20px;
  span {
    position: absolute;
    top: -4px;
    left: 15px;
    min-width: 22px;
    padding: 0 7px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    height: 22px;
    border-radius: 7em;
    color: #fff;
  }
}
.user {
  &__avatar {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #a9a9a9;
    border-radius: 50%;
    margin-right: 20px;
  }
  &__name {
    font-size: 16px;
    font-weight: 500;
    color: $c3;
  }
  &__balance {
    color: $blue;
  }
  &__list {
    display: none;
  }
}

.header {
  &__btn {
    height: 36px;
    width: 140px;
    margin-right: 50px;
    font-size: 14px;
  }
  &__menu {
    background-color: #fff;
  }
  &__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    margin-bottom: 35px;
    form {
      position: relative;
    }
    input {
      height: 50px;
      width: 360px;
      padding: 0 70px 0 30px;
      background-color: #fff;
      border: 1px solid #d9dfe5;
      border-radius: 25px;
      position: relative;
    }
    button {
      font-family: 'Linearicons-Free';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 110px;
    }
  }
}

.round__btn {
}
.menu {
  li {
    display: inline-block;
  }
  li + li {
    margin-left: 35px;
  }
  a {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: $c3;
  }
}
/* -------------------------------------------------------------------------- */
/* ------------------------------- End header ------------------------------- */
/* -------------------------------------------------------------------------- */
/* --------------------------- Start Home-product --------------------------- */
/* -------------------------------------------------------------------------- */
.home-product {
  background-color: #294dcf;
  color: #f3f3f8;
  &__inner {
    text-align: center;
    padding: 175px 0 235px;
    button {
      height: 57px;
      width: 180px;
    }
    button + button {
      margin-left: 30px;
    }
  }
  &__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 35px;
    span {
      font-weight: 500;
    }
  }
  &__text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 60px;
  }
}
.home-search__inner {
  position: relative;
  bottom: 69px;
  background-color: #fff;
  width: 1140px;
  border-radius: 6px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  padding: 41px;
  input, select{
    color: #676767;
    border:1px solid #dedede;
    padding: 18px 20px;
  }
  input{
    max-width: 616px;
    width: 100%;
    border-radius: 4px 0 0 4px;
  }
  select{
    min-width: 190px;
    appearance: none;
    border-radius: 0 4px 4px 0;
    
    background: url(../img/chevron-down.png) no-repeat right;
    background-position-x: calc(100% - 20px);
  }
  form{
    display: flex;
    justify-content: start;
  }
  button {
    background-color: $blue;
    border-radius: 4px;
    width: 223px;
    color: #fff;
    height: 56px;
    margin-left: auto;
    border: none;
  }
  button + select{
    margin-left: 32px;
  }
}
.home-search__inner::after,
.home-search__inner::before {
  content: '';
  position: absolute;
  height: 35px;
  background-color: #fff;
  opacity: 0.502;
  width: 100%;
  border-radius: 4px;
}
.home-search__inner::after {
  z-index: 2;
  left: 30px;
  top: -30px;
  max-width: 1080px;
}
.home-search__inner::before {
  max-width: 1110px;
  z-index: 1;
  left: 15px;
  top: -15px;
}
.home-link {
  background-color: #fff;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 55px 0 125px;
  }
}
.link {
  text-align: center;
  padding: 41px 35px;
  max-width: 361px;
  min-height: 403px;
  border-radius: 4px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
  &__img {
  }
  &__title {
    font-size: 24px;
    font-weight: 500;
    color: $c5;
    margin-bottom: 25px;
  }
  &__text {
  }
}
/* -------------------------------------------------------------------------- */
/* ---------------------------- End home-product ---------------------------- */
/* -------------------------------------------------------------------------- */
/* ---------------------------- Start Home-Slider --------------------------- */
/* -------------------------------------------------------------------------- */

.home-slider {
  background-color: #eff1f5;
  &__inner {
    padding: 120px 0;
  }
  &__title {
    font-size: 30px;
    background-color: #fff;
    padding: 40px 160px 40px 30px;
    margin-bottom: 50px;
  }
  &__wrapper {
  }
  &__item-wrapper, &__title{
    border-radius: .3em;
    overflow: hidden;
   }

  &__item {
    display: flex;
    min-height: 455px;
  } 
  &__item-content{
    padding: 40px 60px 25px 50px;
    background-color: #fff;
    max-width: 585px;
    width: 100%;
  }
  &__item-img {
    background-color: #4e5760;
    max-width: 555px;
    width: 100%;
    min-height: 455px;
  }
  &__item-title {
    font-size: 24px;
    font-weight: 500;
  }
  &__item-user {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    .icon-wordpress::before{  
      margin-right: 20px;
    }
  }
  &__item-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 7em;
    background-color: $blue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }
  &__item-author {
    margin-right: 20px;
    color: #000;
    font-size: 15px;
  }
  &__item-theme {
    position: relative;
    color: $violet;
    font-size: 15px;
    
  }
  &__item-text {
    margin-bottom: 40px;
  }
  &__button-list{
    padding-bottom: 40px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 23px;
  }
  &__button-type {
    display: inline-block;
    color: #868c96;
    background-color: #f1f3f6;
    padding: 0 16px;
    border-radius: 7em;
  }
  &__item-info {
    display: flex;
    align-items: center;
  }
  &__item-price {
    padding: 10px 20px;
    margin-right: 20px;
  }
  .lnr-heart{
    color: #000;
    margin-right: 20px;
  }
  .lnr-heart:before {
    margin-right: 12px;
    color: $violet;
  }
  .lnr-cart{
    color: $blue;
  }
  .lnr-cart::before{
    margin-right: 10px;
  }
  &__item-rating {}
  .slick-prev, .slick-next {
    position: absolute;
    z-index: 2;
    height: 45px;
    background-color: $violet;
    width: 55px;
    border: none;
    color: transparent;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position:center;
    top: -140px;
  }
  .slick-prev{
    border-radius: 7em 0 0 7em;
    background-image: url(../img/chevron-left.svg);
    right: 85px;

  }
  .slick-next{
    border-radius: 0 7em 7em 0;
    background-image: url(../img/chevron-right.svg);
    right: 30px;
  }
  .rate-star{
    display: inline-block;
    margin-left: auto;
  }
}
/* -------------------------------------------------------------------------- */
/* ------------------------------ Start footer ------------------------------ */

.footer {
  &__content {
    background-color: #262b30;
    padding: 115px 0;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__copy {
    background-color: #192027;
  }
  &__copy-text {
    padding: 30px 0;
    text-align: center;
    color: #ababab;
    span {
      color: #fff;
    }
  }
  &__address {
    position: relative;
    display: block;
    color: #ababab;
    padding-left: 35px;
    margin-bottom: 7px;
    font-style: normal;
  }
}
.footer__col {
  font-size: 15px;
  color: #ababab;
  &-logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: $blue;
    margin-bottom: 30px;
    span {
      padding-left: 7px;
      color: #fff;
    }
  }
  &-info {
    width: 270px;
    p {
      margin-bottom: 25px;
    }
    .lnr-phone-handset::before,
    .lnr-envelope::before,
    .lnr-map-marker::before {
      position: absolute;
      left: 0;
      font-family: 'Linearicons-Free';
      font-weight: 400;
      color: #fff;
    }
  }
  &-list {
    width: 150px;
    a {
      color: #ababab;
    }
    li {
      padding-left: 0;
      margin-bottom: 5px;
    }
  }
  &-search {
    width: 365px;
    form {
      position: relative;
      margin-bottom: 55px;
    }
    input {
      height: 50px;
      width: 100%;
      padding: 0 110px 0 30px;
      background-color: #fff;
      outline: transparent;
      border-radius: 25px;
      position: relative;
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 110px;
    }
    li {
      display: inline-block;
    }
    li:not(:last-child) {
      margin-right: 13px;
    }
    p {
      margin-bottom: 35px;
    }
  }
  &-social {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: #fff;
    border-radius: 50%;
  }
  &-title {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding-top: 7px;
    margin-bottom: 32px;
  }
}

.icon-facebook {
  background-color: #395799;
}
.icon-twitter {
  background-color: #19b2f5;
}
.icon-google {
  background-color: #f05b44;
}
.icon-pinterest {
  background-color: #9c0c1c;
}
.icon-linkedin {
  background-color: #0da6be;
}
.icon-dribbble {
  background-color: #ea4c89;
}

/* ------------------------------- End footer ------------------------------- */
/* -------------------------------------------------------------------------- */